<main class="flex flex-col h-full items-center justify-between">
  <div class="w-full">
    <mat-toolbar color="primary">
      <span>TODO LIST</span>
    </mat-toolbar>
    <div class="h-2.5"></div>
    <ul cdkDropList class="w-full" (cdkDropListDropped)="dropItem($event)">
      <todo-item *ngFor="let todo of todos; index as index; trackBy: trackByIndex"
                 [todo]="todo"
                 (todoChange)="updateTodo($event, index)"
                 (deleteTodoEvent)="removeItem(index)"/>
    </ul>
  </div>
  <button (click)="addNewItem()"
          mat-fab
          color="primary"
          class="m-10">
    <mat-icon>add</mat-icon>
  </button>
</main>

<router-outlet/>
